.nav-item {
    margin-bottom: 20px;
  }

  .normal-text {
    font-weight: normal;
  }

  .row button {
    width: 100%;
    padding: 15px;
    font-size: large;
    background-color: #8bb5be;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
  }




