body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
  }

  .left {
    background-image: url("/src/public/images/Ellipse\ 1.png");
    background-size: cover;
    background-position: center;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .login-form {
    width: 100%;
    max-width: 600px;
  }

  .login-form h3 {
    text-align: center;
    color: red;
    font-weight: normal;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-group input {
    width: 70%;
    padding: 15px;
    font-size: large;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .row {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .row button {
    width: 30%;
    padding: 15px;
    font-size: large;
    background-color: #8BB5BE;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
  }