.nav-item {
  margin-bottom: 20px;
}

.horizontal-line {
  height: 1px; /* Độ dài của đường kẻ ngang */
  background-color: #ECEDED; /* Màu sắc của đường kẻ ngang, thay đổi thành màu bạn muốn */
  margin: 10px 0; /* Khoảng cách trên và dưới đường kẻ ngang */
}

.row button {
  width: 100%;
  padding: 15px;
  font-size: large;
  background-color: #8bb5be;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.normal-text {
  font-weight: normal;
}

.slide-bar {
  position: fixed;
  left: 0;
}

.main {
  position: absolute;
  left: 125px;
}

.order {
  position: fixed;
  right: 0;
}

.slidebar-list {
  list-style: none;
  text-align: center;
  padding-left: 10px;
}

.slidebar-item {
  color: var(--white-color);
  align-items: center;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 15px;
}

.slidebar-item:hover {
  opacity: 1;
}

.slidebar-item a {
  text-decoration: none;
}

a.item_active path {
  fill: #252836;
}

.count-container {
  max-width: 325px;
}

