<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p>Hi: <strong><%= email %></strong></p>
    <p>We received a request for a one-time code to use for your Vibe account</p>
    <p>This is code to reset your password, You mustn't send it to other people</p>
    <p>Code is: <strong><%= token %></strong>.</p>
    <p>If this code is not requested, you can safely ignore this email. Maybe someone else entered your email address by mistake.</p>
    <p>Thank you,</p>
    <p>Vibe</p>
</div>
</body>
</html>